@(formPredio: Form[Predio])
@import helper._
@import helper.twitterBootstrap._

@form(routes.Admin.addpredio()) {

	
	<h4> Cadastro de Predios </h4>	
	
	</u1>
	
	<h4> Nova Editora </h4>
	
	@form(routes.Admin.addpredio()) {
	
		@inputText(formPredio("nome"),'_label -> "Nome:")
		@inputText(formPredio("endereco"),'_label -> "Endereco:")
		@inputText(formPredio("numero"),'_label -> "Numero:")
		@inputText(formPredio("campus"),'_label -> "Campus:")
		<input type="submit" class="btn btn-success" value="Cadastrar Predio">
		<input class="btn" type="reset" value="Limpar" />
	
	}
	
}