@(formPredio: Form[Predio], predio: Predio)
@import helper._
@import helper.twitterBootstrap._

@main("Editar Livro") {
	<div class="page-header">
		<h1> Meus Livros</h1>
	</div>
	
	<h4> Atualizar Livro </h4>
	
	@form(routes.Admin.updatePredio(predio.id)) {
	
	@inputText(formPredio("nome"), '_label -> "Nome:")
	@inputText(formPredio("numero"), '_label -> "Numero:")
	@inputText(formPredio("endereco"), '_label -> "Endereco:")
	@inputText(formPredio("campus"), '_label -> "Campus:")
	<div>
	<button type="submit" class="btn btn-primary">Salvar</button>
	</div>


	}
}