@(formSala: Form[Sala], sala: Sala)
@import helper._
@import helper.twitterBootstrap._

@main("Editar Livro") {
	<div class="page-header">
		<h1> Meus Livros</h1>
	</div>
	
	<h4> Atualizar Livro </h4>
	
	@form(routes.Admin.updateSala(sala.id)) {
	
	@inputText(formSala("numero"), '_label -> "Numero:")
	@inputText(formSala("Tipo"), '_label -> "Tipo:")
	@inputText(formSala("Capacidade"), '_label -> "Capacidade:")
	@select(
			formSala("predio.id"),
			Predio.find.all.map{ v => v.id.toString -> v.nome}, '_label-> "Predio")
			
	<div>
	<button type="submit" class="btn btn-primary">Salvar</button>
	</div>


	}
}