	<!-- MENU -->
	
	
	
   <div class="span2">
                        <div class="well sidebar-nav">
                            <ul class="nav vav-list">
                                <li class="nav-header">
                                    Menu 
                                </li>
                                <li>
                                    <a href="@routes.Admin.index()">
                                        <i class="icon-home"></i>
                                        Home 
                                    </a>
                                </li>  
                                <li>
                                	<a href="@routes.Admin.sobre()">
                                		<i class="icon-question-sign"></i>
                                		Sobre
                                		</a>
                                    <hr>
                                </li>
                                
                                
                                
                                
                            
                            </ul>
                        </div>
                     </div>
	
			 <!-- MENU -->