@(predio: Predio)
@import helper._
@import helper.twitterBootstrap._

@main("Detalhes de um livro") {

<div class="page-header">
	<h1> Predio </h1>	
</div>

<h1> Campus: @predio.campus </h1>

<h3> Dados do Predio: </h3>

<ul>
	<li> <b> Nome: </b> @predio.nome </li>
	<li> <b> Numero: </b> @predio.numero </li>
	<li> <b> Endereco: </b> @predio.endereco </li>
	<li> <b> Campus: </b> @predio.campus </li>
	<li> <b> Andares: </b> @predio.andar </li>
</ul>

<a href="/">
	<span class="label label-succes">
	<i class="icon icon-arrow-left icon-white"></i> Voltar 
	</span>
</a>

}