@(sala: Sala)
@import helper._
@import helper.twitterBootstrap._

@main("Detalhes da Sala") {

<div class="page-header">
	<h1> Sala </h1>	
</div>

<h1> Sala: @sala.numero </h1>

<h3> Dados da Sala: </h3>

<ul>
	<li> <b> Numero: </b> @sala.numero </li>
	<li> <b> Tipo: </b> @sala.tipo </li>
	<li> <b> Capacidade: </b> @sala.capacidade </li>
	<li> <b> Predio: </b> @Predio.find.byId(sala.predio.id).nome </li>

</ul>

<a href="/">
	<span class="label label-succes">
	<i class="icon icon-arrow-left icon-white"></i> Voltar 
	</span>
</a>

}