@import helper._
@import helper.twitterBootstrap._

@form(routes.Admin.sobre()) {

<body background="http://images6.fanpop.com/image/photos/36100000/Christmas-image-christmas-36118465-1920-1200.jpg">
<center> <img src="http://www.posfmu.com.br/template/posfmu/images/fmu_logo.jpg"/></center>
<body></body>
<p> <h3> Sistema de cadastramento de Predio-Sala. </h3>

<li> Criador: Caio Landolphi.

<li> Sistema de cadastramento de Predio-Sala:

<p>Este sistema tem como funcao atraves do CRUD interagir com um ambiente em que possamos controlar quantidade de predios e salas de uma universidade, podendo cadastrar predios da faculdade, enderecos, salas existentes, laboratoios, entre outros, para que exista um banco de dados que possua controle e poder de consulta para informar ao usuario.</p>
<li>Editor: Caio Landolphi
<li>Contributor: Faculdades Metropolitanas Unidas - FMU
<li> Coordenador do projeto: Andre Filipe.
<li>Formato: Software
<li>Linguagem: PT-BR
</div>
	
	<p><a href="/">
	<span class="label label-succes">
	<i class="icon icon-arrow-left icon-white"></i> Voltar 
	</span>
</a></p>
</body>
}