	<!-- BARRA TOPO -->
	
	
	
	
	
	<div class="navbar">
		<div class="navbar-inner"> 
			<li> <span class="label label-important"> FMU </span> <span class="label label-important"> SISTEMA DE CADASTRAMENTO </span> <p align="center"> <span class="label label-important">FMU<span class="badge">Sistema de cadastramento Predio-Sala</span></span> </li> </p>
			<!-- SPAN PARA LOGIN -->
			 <span class="navbar-text pull-right"> 
				@if(session.contains("connected")) {
			 		Bem vindo @session.get("connected") <a href="@routes.Application.logout"> <span class="label label-important"> Sair</span> </a>
				 }else {
			  		<a  href="@routes.Application.login"> <span class="label label-important">Login <span>  </a> 
			 	}

			 </span>
			 <!-- FIM SPAN PARA LOGIN -->
		<ul class="nav">
			 <li class="divider-vertical"></li>
			 
			
		</ul>
	</div>
	</div>		
	</p>
	
			 <!-- FIM BARRA TOPO -->